<h1>Welcome To My first Project</h1>
<p>Hahahah ...! I'm Glad I could land here Finally</p>



<div>
	

	<h3>
		
lol, may want to close your browser tab first if you have it open to localhost:3000, otherwise this may kill your browser – 
TMin
 Nov 18, 2016 at 20:11
anyone tried saving this as an alias in zsh and it not working? – 
stackjlei
 Jun 22, 2017 at 23:25



Sometimes my server will have been shut down but ruby has maxed out CPU. When this is the case I have to kill ruby by running top getting the PID and then running kill -9 PID – 


daveomcd
 Sep 18, 2018 at

	</h3>
</div>

